* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

body { 
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* styles.css */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place the image behind the content   */
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 4.8rem;
    color: #E1E1E6;
}

p {
    font-size: 1.8rem;
    color: #E1E1E6;
    margin-top: 1.6rem;
    height: 20.3rem;
    width: 64.8rem;
    line-height: 160%;
}

.home {
    margin: 0;
    padding: 0;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.univer {
    margin: 0;
    padding: 0;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items:                ; */
    text-align: left;
    padding: 26.1rem 53rem 25.6rem 10.2rem ;
}

.explorer {
    margin: 0;
    padding: 0;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items:                ; */
    text-align: left;
    padding: 26.1rem 53rem 25.6rem 10.2rem ;
}

button {
    /* font-size: 2.4rem; */
    border: solid 2px #FFFFFF;
    border-radius: .5rem;
    padding: 1.2rem 3.2rem;
    color: #FFFFFF;
    background-color: transparent;

    margin-top: 2.4rem;
    cursor: pointer;
}

nav {
    display: flex;
    gap: 4.2rem;
    padding: 5rem;
}

nav a {
    font-size: 2.17rem;
    text-decoration: none;
    text-decoration: none;
    color: #C4C4CC;
}

nav a:hover {
    font-size: 2.4rem;
    font-weight: bold;
    text-decoration: none;
} 

nav a.linkActive {
    /* color: red; */
    font-size: 2.4rem;
    font-weight: bold;
}